body {
  margin: 0;
  padding: 0;
}

.title {
  font-size: xx-large;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin: 20px 0;
}

.panel-container {
  padding: 0 10px;
  font-family: 'Open Sans', sans-serif;
}

textarea {
  width: 100%;
  margin: 0 auto;
  resize: vertical;
  min-height: 400px;
}

.panel-container > div > * {
  margin-top: 0;
}

hr {
  border-top: 1px solid #eee;
  margin-bottom: 20px;
}